/* line 1, ../sass/app.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/app.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #576366;
  background-color: #f3f3f3;
}

/* line 15, ../sass/app.scss */
.app {
  position: relative;
  max-width: 500px;
  margin: 100px auto;
}
/* line 19, ../sass/app.scss */
.app__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* line 28, ../sass/app.scss */
.dropdown {
  position: relative;
}
/* line 31, ../sass/app.scss */
.dropdown__label {
  width: 100%;
  height: 45px;
  background-color: white;
  font-size: 22px;
  line-height: 45px;
  padding: 0 15px;
  border: 1px solid #ececec;
  cursor: pointer;
}
/* line 41, ../sass/app.scss */
.dropdown__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 115px;
  box-shadow: 6px 10px 17px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
/* line 49, ../sass/app.scss */
.dropdown__input {
  width: 470px;
  height: 35px;
  display: block;
  margin: 30px auto;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #c3c3c3;
  outline: none;
}

/* line 61, ../sass/app.scss */
.list {
  list-style-type: none;
  padding-bottom: 30px;
}
/* line 64, ../sass/app.scss */
.list__item {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  border-bottom: 1px solid #ececec;
}
